$toyota-green:#009E41;
$kyoto-green:#005B34;
$paragraph:#3B4043;

// 削除予定
$mushe-black:#2f271b;
$mushe-brown:#756449;
$mushe-lightbrown:#9f9380;

// 削除予定
$gold:#B89B65;
$lightgold:#FBF5E6;
$thingold:#cdb993;
$mi-blue:#062D84;
$mi-yellow:#FCCF00;
$charge-spot:#1BBEE5;

$map-yellow:#FFEB64;
$map-pink:#FFC8B4;
$map-orange:#FBCF72;
$map-purple:#E6C8DC;
$map-greeen:#B4DC9D;
$map-blue:#A0D7E5;
$map-floor1f:#B89B65;
$map-floor2f:#B89B65;

$cafe-deli:#A08796;
$casual-dining:#A87570;
$food-market:#849B63;
$quick-eatin:#64888C;

// osechi 追記

$white:#fff;
$black:#000;
$red: #C72121;
$brown: #A87C36;
$yellow:#F7F2CF;
$gray:#585858;
$beige:#F5F3ED;